<div class="nav">
    <div class="nav_nei">
        <div class="natebia_ji"></div>
        <div class="natebia"><a href="#" class="natebia_a">特别推荐</a></div>
        <div class="navR">
            <ul>
                <li class="navR_bg"><a href="{:url('message/index')}">给我留言</a></li>
                <li><a href="{:url('py/index')}">交易专区</a></li>
                <li><a href="{:url('cooperation/index')}">合作社</a></li>
                <li><a href="{:url('dynamic/index')}" class="xuanz">行业动态</a></li>
                <li><a href="{:url('index/index')}">网站首页</a></li>
            </ul>
        </div>
    </div>
</div>