{extend name="base"}
{9*block name="content"}

<div class="centBox">
	<div class="neiye clearfix">
    	<div class="neiyeL">
        	<div class="banL noel">
       	 		 <div class="yuyue">
       		  		<p><a href="#"><img src="__STATIC__/index/text/1.gif" width="232" height="213" alt="" />
             		 中江瓜蒌</a></p>
              		<p><a href="#" class="yuyue_a"></a></p>
          		</div>
      		</div>
            <div class="hezuo">
           	<div class="hezuo_top">推荐合作单位</div>
                <div class="hezuo_text">
                	<ul>
                    	<li><a href="#"><img src="__STATIC__/index/text/9.gif" width="206" height="60" alt="" /></a></li>
                        <li><a href="#"><img src="__STATIC__/index/text/10.gif" width="206" height="60" alt="" /></a></li>
                        <li><a href="#"><img src="__STATIC__/index/text/11.gif" width="206" height="60" alt="" /></a></li>
                        <li><a href="#"><img src="__STATIC__/index/text/12.gif" width="206" height="60" alt="" /></a></li>
                        <li><a href="#"><img src="__STATIC__/index/text/13.gif" width="206" height="60" alt="" /></a></li>
                    </ul>
                </div>
          </div>
        </div>
        <div class="neiyeR">
        	<div class="neiBT">
            	<span class="mianT_span">留言反馈 | FEEDBACK </span>
            </div>
            <div class="feedbck">
                <form action="{:url('message_add')}" method="post">
            	<div class="feedb_top">
                	<div class="feedb_bate">
                    	<table width="200" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="44" class="feedb_td">联系人：</td>
                    <td><input name="contacts" type="text" class="feedb_input" /><span class="feedb_span">*</span></td>
                  </tr>
                  <tr>
                    <td height="44" class="feedb_td">联系电话：</td>
                    <td><input name="number" type="text"  class="feedb_input"/><span class="feedb_span">*</span></td>
                  </tr>
                  <tr>
                    <td class="feedb_td">内容：</td>
                    <td><textarea name="content" cols="" rows="" class="feedb_tarea"></textarea></td>
                  </tr>
                </table>

                    </div>
                    <div class="feedb_tetx">
                    	<input type="submit" class="feedb_annl" value="提交" />
                    </div>
                </div>
                    </form>
                <div class="feed_deta">
                	<	<div class="feed_xia">
                    {foreach name='field' key='key' item='vo'}
                    <div class="feBt">
                        <p>{$vo['content']}</p>
                    </div>
                    <div class="feed_xtex">
                        {$vo['reply']}
                    </div>
                </div>
                    {/foreach}
                </div>
                <div class="feiye">
                    	<ul>
                        	<li><input type="submit" value="确定" class="feiye_ban" />
                            <li>到第<input name="" type="text" class="feiye_ingp" />页</li>
                            <li><a href="#">下一页</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#" class="xuanz">1</a></li>
                        	<li><a href="#" class="feiye_hs">上一页</a></li>
                            </li>
                        </ul>
                    </div>
            </div>
        </div>
    </div> 
</div>
{/block}