{extend name="base"}
{block name="content"}
<div class="centBox">
	<div class="neiye clearfix">
    	<div class="neiyeL">
        	<div class="banL noel">
       	 		 <div class="lanmu">
       		  		<ul>
                    	{foreach name='subnav'  item='vo'}
                    <li><a href="{:url($vo['url'],['id'=>$vo['id']])}" {if condition="input('param.id')==$vo['id']"}class="lanmu"{/if}>{$vo.name}</a></li>
                    {/foreach}
                    </ul>
          		</div>
      		</div>
            <div class="dianhua">
            	<div class="dianhua_top">联系电话</div>
                <div class="dianhua_text">
               	  联  系  人：陈波 （总裁） <br />
                	电       话 ：86 0838 7102727<br />
                	移动电话 ：	138-8180-1576<br />
                	传       真 ：86 0838 7102771<br />
               	地       址 ：	中国 四川 德阳市四川省德阳市中江县双龙镇                </div>
            </div>
        </div>
        <div class="neiyeR">
        	<div class="neiBT">
            	<span class="mianT_span">生产基地 | BASE</span>
            </div>
            {foreach name='field' key='key' item='vo'}
            <div class="base clearfix">
            	<img src="{$vo['image']}" alt="" />
          </div>
            {/foreach}
        </div>
    </div> 
</div>
{/block}