{extend name="base"}
{block name="content"}
<div class="centBox">
    <div class="banner">
      <div class="banL">
          <div class="yuyue">
              <p><a href="#"><img src="__STATIC__/index/text/1.gif" width="232" height="213" alt="" />
              中江瓜蒌</a></p>
              <p><a href="{:url('index/Jieshao/Jieshao')}" class="yuyue_a"></a></p>
          </div>
      </div>
      <div class="banR">
      		<div class="banR_pt">
            	<a href="#"><img src="__STATIC__/index/text/2.gif" width="736" height="274" id="targetImg" alt="" /></a>            </div>
          <div class="banR_anl" id="btns">
            	<a href="#"></a>
                <a href="#" class="xuanz"></a>
                <a href="#"></a>
            </div>
      </div>
    </div>
    <div class="mian">
        <div class="mianL">
            <div class="mianTop">
                <span class="mianT_span">特产一览│SPECIALTIES LIST</span>
                <a href="#">更多&gt;&gt;</a>           
            </div>
            <div class="mianText">
                {foreach name='field' key='key' item='vo'}
                <ul>
                    <li>
                        <p><a href="#"><img src="{$vo['article_image']}" width="208" height="177" alt="" />{$vo['article_title']}</a></p>
                        <p><a href="{:url('index/Jieshao/Jieshao')}" class="yuyue_a"></a></p>
                    </li>
                </ul>
                {/foreach}
          </div>
        </div>
        <div class="mianR">
          <div class="hezuo">
            <div class="hezuo_top">推荐合作单位</div>
                <div class="hezuo_text">
                    <ul>
                        <li><a href="#"><img src="__STATIC__/index/text/9.gif" width="206" height="60" alt="" /></a></li>
                        <li><a href="#"><img src="__STATIC__/index/text/10.gif" width="206" height="60" alt="" /></a></li>
                        <li><a href="#"><img src="__STATIC__/index/text/11.gif" width="206" height="60" alt="" /></a></li>
                        <li><a href="#"><img src="__STATIC__/index/text/12.gif" width="206" height="60" alt="" /></a></li>
                        <li><a href="#"><img src="__STATIC__/index/text/13.gif" width="206" height="60" alt="" /></a></li>
                    </ul>
                </div>
          </div>
            <div class="hezAd">
                <img src="__STATIC__/index/text/14.gif" />
                <a href="#" class="hezL01"></a> 
                <a href="#" class="hezL02"></a> 
            </div>
        </div>
    </div>
    <div class="mian3">
        <div class="mian3_top">
            <span class="mianT_span">资讯& 商机│IT & BUSINESS</span>
        </div>
          <div class="mian3_text">
        	<div class="gonggao">
            	<div class="gonggao_top">最新交易公告</div>
                <div class="gonggao_text">
                	<ul>
                    	<li><a href="#">&middot;大量优质新鲜的草莓上市啦！</a></li>
                        <li><a href="#">&middot;质优价廉的山核桃大量上市..！</a></li>
                        <li><a href="#">&middot;大量供应红富士苹果！</a></li>
                        <li><a href="#">&middot;春季时令蔬菜已上市！</a></li>
                    </ul>
                </div>
            </div>
            <div class="xiangx">
            	<div class="xiangx_top">
                	<a href="#" class="r">更多&gt;&gt;</a>
                	<span class="xian_span">最新信息</span>
                </div>
                <div class="xiangx_text">
                	<div class="xian_img">
                    	<a href="#"><img src="__STATIC__/index/text/15.gif" width="139" height="112" alt="" /></a>                    </div>
                    <div class="xianWZ">
                    	<ul>
                        	<li><a href="#">&middot;山东大雨浇“落”无花果 斤..</a></li>
                            <li><a href="#">&middot;江苏常州：近期“菜走势..</a></li>
                            <li><a href="#">&middot;国庆将至 四川内江提前入..</a></li>
                            <li><a href="#">&middot;国庆节前山东青水果价格..</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="xiangx">
            	<div class="xiangx_top">
                	<a href="#" class="r">更多&gt;&gt;</a>
                	<span class="xian_span">行业快讯</span>
                </div>
                <div class="xiangx_text">
                	<div class="xian_img">
                    	<a href="#"><img src="__STATIC__/index/text/15.gif" width="139" height="112" alt="" /></a>                    </div>
                    <div class="xianWZ">
                    	<ul>
                        	<li><a href="#">&middot;山东大雨浇“落”无花果 斤..</a></li>
                            <li><a href="#">&middot;江苏常州：近期“菜走势..</a></li>
                            <li><a href="#">&middot;国庆将至 四川内江提前入..</a></li>
                            <li><a href="#">&middot;国庆节前山东青水果价格..</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var imgs=["__STATIC__/index/text/2.gif","__STATIC__/index/text/1.gif","__STATIC__/index/text/3.gif",]
    var btns=document.getElementById("btns").getElementsByTagName("a");
    var targetImg=document.getElementById("targetImg");
    var timer;
    for(var i=0;i<btns.length;i++)
    {
        btns[i].id=i;
        btns[i].onmouseover=function(){
            targetImg.src=imgs[this.id];
            index=this.id;
            for(var i=0;i<btns.length;i++)
            {
                btns[i].style.background="#FFF";
            }
            btns[index].style.background="red";
            window.clearInterval(timer);
        }
        btns[i].onmouseout=function(){
            timer=setInterval(nextimg,3000);
        }
    }
    var index=0;
    function nextimg()
    {
        if(index>btns.length-1)
        {
            index=0;
        }
        targetImg.src=imgs[index];

        for(var i=0;i<btns.length;i++)
        {
            btns[i].style.background="#FFF";
        }
        btns[index].style.background="red";
        index++;
    }
    timer=setInterval(nextimg,3000);
    var img = document.getElementsByClassName('imgonmouse');
    var time = null;
    for(i=0;i<img.length;i++){
        img[i].onmouseover=function(){
            clearInterval(time);
            movein(this);
        }
        img[i].onmouseout=function(){
            clearInterval(time);
            moveout(this);
        }

    }
    function movein(img){
        var x = 0;
        time = setInterval(function(){
            x++;

            if(x>10){
                x=10;
            }
            img.style.backgroundPositionX = (-x) + "px";
        },10);
    }
    function moveout(img){
        var x = 5;
        time = setInterval(function(){
            x--;

            if(x<0){
                x=0;
            }
            img.style.backgroundPositionX = (-x) + "px";
        },10);
    }

</script>
{/block}